 .container{
    display: flex;
    flex-direction: row;
 }

 .capturedImg {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    max-width: 100%;
    height: auto;
    border: 1px solid #333;
}

.fingerbox {
    background: #000;
    padding: 12px;
    border-radius: 6px;
    margin: 8px;
    display: inline-block;
}

 .btnReadThumbs{
    background-color: blue;
    color: white;
    cursor: pointer;
    padding: 5px;
 }
 .btnReadThumbs:hover{
    background-color: teal;
 }